<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
    <listeners>
        <listener
                class-name="reports.ExtentReportListener"/>
    </listeners>
    <parameter name="browser" value="chrome-headless"/>
    <test name="Amazon tests" >
        <classes>
            <class name="tests.LoginTest">
                <methods>
                    <include name="checkThatTheUserCanLogin"/>
                </methods>
            </class>
            <!--
        <class name="tests.PriceFilterTest">
            <methods>
                <include name="checkThatUserCanOpenVideoGamesPage" />
                <include name="checkThatTheUserCanFilter" />
                <include name="checkThatUserCanSort" />
                <include name="checkThatUserCanAddItemsToCart" />
                <include name="checkThatUserCanProceedToCheckOut" />
                <include name="checkThatUserCanAddNewAddress" />
            </methods>
        </class> -->
    </classes>
</test>
</suite>