<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Suite">
    <test name="Amazon tests">
        <classes>
            <class name="tests.PriceFilterTest">
                <methods>
                    <include name="checkThatUserCanOpenVideoGamesPage" />
                    <include name="checkThatTheUserCanFilter" />
                    <include name="checkThatUserCanSort" />
                </methods>
            </class>
        </classes>
    </test>
</suite>